<div id="faq-like">

	<h2 id="ufal-point-faq">TULAP repository About and Policies</h2>
	<div>hosted at <a href="https://tabilab.cmpe.boun.edu.tr">Text and Bioinformatics Lab (TABILAB), Bogazici
			University</a></div>

	<hr />
	<a href="https://tulap.cmpe.boun.edu.tr/">TULAP</a> (Turkish Language Processing Platform) is a repository of Turkish data and
	tools that cover a broad range of NLP areas including preprocessing operations, syntactic and semantic processes,
	and downstream tasks. The platform is open and freely accessible to researchers in linguistics and NLP areas
	<br />
	<br />
	Please refer to the individual resource details for license agreements. Researchers who use the offered resources agree to abide by the corresponding license.
	<br />
	<br />
	Users that use a resource offered in the platform for any purpose are expected to cite the resource in their works.
	The resource information pages offer citations for easy reference.
	<br />
	<br />


	<!-- <ul id="faqs-list">
		<li><a href="#mission-statement">Mission Statement</a></li>	
		<li><a href="#terms-of-service">Terms of Service</a></li>	
		<li><a href="#about-repository">About Repository</a></li>
		<li><a href="#about-tabilab">About TABILAB</a></li>
		<li><a href="#about-contracts">License Agreement and Contracts</a></li>			
		<li><a href="#about-ipr">Intellectual Property Rights</a></li>
		<li><a href="#privacy-policy">Privacy Policy</a></li>
		<li><a href="#metadata-policy">Metadata Policy</a></li>
		<li><a href="#preservation-policy">Preservation Policy</a></li>
		<li><a href="./cite">Citing Data Policy</a></li>
	</ul>
    <hr />
	<div>
		<h3 id="mission-statement">Mission Statement</h3>
		<br/>
		<p>
			The Objective of TABILAB Language Resources service is to provide open and free tools and resources for linguistics and natural language processing generally in Turkish.
		</p>

	</div>	
	<br/>
	<div>
		<h3 id="terms-of-service">Terms of Service</h3>
		<p>
        To achieve our mission statement, we set out some ground rules through the <a href="./terms-of-service">Terms of Service</a>. By accessing or using any kind of data or services provided by the Repository, you agree to abide by the Terms contained in the above mentioned document.
        </p>
        <p>
        Data in TABILAB repository are made available under the licence attached to the resources. In case there is no licence, data is made freely available for access, printing and download for the purposes of non-commercial research or private study.

        Users <strong>must</strong> acknowledge in any publication, the Deposited Work using a persistent identifier (see <a href="./cite">Citing Data</a>), its original author(s)/creator(s), and any publisher where applicable. Full items must not be harvested by robots except transiently for full-text indexing or citation analysis. Full items must not be sold commercially unless explicitly granted by the attached licence without formal permission of the copyright holders.
        </p>
	</div>

	<br/>
	<div>
		<h3 id="about-repository">About Repository</h3>
		<p>It is like a library for linguistic data and tools.</p>
		<ul>
			<li>Search for data and tools and easily download them.</li>
			<li>Deposit the data and be sure it is safely stored, everyone
				can find it, use it, and correctly cite it (giving you credit)</li>
		</ul>
	</div>
	<br/>	
	<div>
		<h3 id="about-tabilab">About TABILAB</h3>
		<p>
		TABILAB (Text and Bioinformatics Lab) is a lab that works on Natural Language Processing and Bioinformatics at the Bogazici University, Istanbul, Turkey.
		</p>
	</div>
	<br/>
	<div>
		<h3 id="about-contracts">License Agreement and Contracts</h3>
		<p>At the moment, TABILAB distinguishes three types of contracts.</p>
		<ul>
			<li>For every deposit, we enter into a standard contract with the submitter, the so-called <a id="distribution-link" href="contract">"Distribution License Agreement"</a>, in which we describe our rights and duties and the submitter acknowledges that they have the right to submit the data and gives us (the repository centre) right to distribute the data on their behalf.</li>
			<li>Everyone who downloads data is bound by the licence assigned to the item - in order to download protected data, one has to be authenticated and needs to electronically sign the licence. A list of available licenses in our repository can be found <a href="licenses" id="available-licenses">here.</a></li>
			<li>For submitters, there is a possibility for setting custom licences to items during the submission workflow.</li>
		</ul>
	</div>
	<br/>
	<div>
		<h3 id="about-ipr">Intellectual Property Rights</h3>
		<p>
As mentioned in the section <a href="#about-contracts">License Agreement and Contracts</a>, we require the depositor of data or tools to sign a Distribution License Agreement, which specifies that they have the right to submit the data and gives us (the repository centre) right to distribute the data on their behalf. This means that depositors are solely responsible for taking care of IPR issues before publishing data or tools by submitting them to us.
<br/>
Should anyone have a suspicion that any of the datasets or tools in our repository violate Intellectual Property Rights, they should contact us immediately at our help desk.
</p>
	</div>
	<br/>

	<div>
		<h3 id="privacy-policy">Privacy Policy</h3>
		<p>Read our <a href="privacypolicy.html">Privacy Policy</a> in order to learn how we manage personal data collected by the TABILAB repository and services.
        </p>
	</div>
	<br/>

    <div>
		<h3 id="metadata-policy">Metadata Policy</h3>
		<p>
       Deposited content must be accompanied by <a href="metadata">sufficient metadata</a> describing its content, provenance and formats in order to support its preservation and dissemination. Metadata are freely accessible and are distributed in the public domain (under <a href="http://creativecommons.org/about/cc0">CC0</a>). However, we reserve the right to be informed about commercial usage of metadata from TABILAB repository including a description of your use case at <a class="helpdesk-tolink" href="#">Help Desk</a>.
        </p>
	</div>
	<br/>

    <div>
		<h3 id="preservation-policy">Preservation Policy</h3>
		<p>
			TABILAB is committed to the long-term care of items deposited in the repository, to preserve the
			research and to help in keeping research replicable and strives to adopt the
			current best practice in digital preservation.
		</p>
		<p>
			To fulfill the commitments, the repository ensures that datasets are ingested and distributed in
			accordance with their license (see <a href="#about-contracts">agreements and contracts</a>). Sometimes
			(for licenses that do not permit public access) this means only authorized users can access the dataset.
		</p>
		<p>
			The submission workflow as described in <a href="deposit">deposit</a> and the work of our editors ensures
			discoverability (by requiring accurate <a href="#metadata-policy">metadata</a>) via our search engine,
			externally through OAI-PMH  and in page metadata for certain web crawlers. Metadata are freely accessible.
		</p>
		<p>
			There are various automated procedures including fixity checks, to ensure integrity of the submitted
			datasets and completeness of metadata. On the
			system level we employ various on-site and off-site backup strategies and hardware monitoring. The
			datasets are accessible online.
		</p>
        <p>
			We view data and tools as primary research outputs, each submission receives a Persistent IDentifier for reference and
			the users are <a href="cite">guided to</a> use them. Changes in a dataset after it has been published are
			not permitted, new submission is required instead. The old and new submissions are linked through their
			metadata (see <a href="https://github.com/ufal/clarin-dspace/wiki/New-Version-Guide">new version
			guide</a> 	for more details).
		</p>
		<p>
			The various export options offered by the repository system (DSpace) ensures that data and their metadata
			are not locked in and can be moved to a different repository system.
		</p>
		<p>
			The repository encourages the usage of specific file formats as recommended by CLARIN. The preferred file
			formats will change over time, in which case the repository will make every effort to migrate to other
			formats, while keeping originals intact for reproducibility purposes (ie. migrated item will be a new
			repository record linked to the old). The guiding principles for format selection are: open standards are
			preferred over proprietary standards, formats should be well-documented, verifiable and proven,
			text-based formats are preferred over binary formats where possible, in the case of digitalization of analogue signal lossless or no compression is recommended.
		</p>
		<p>
			.
        </p>
	</div>
	<br/> -->


</div>