<div id="faq-like">

	<h2 id="ufal-point-faq">Frequently Asked Questions</h2>

    <hr />
	<ul id="faqs-list">
		<li><a href="#what-is-the-repository">What is this repository?</a></li>
		<!-- <li><a href="#what-submissions-do-you-accept">What submissions do we accept?</a></li> -->
        <li><a href="#what-is-the-handle-good-for">What is the PID (handle) good for?</a></li>
        <li><a href="#how-to-cite">How to cite a submission?</a></li>
        <li><a href="#searching">How do I get the most of my searches?</a></li>
		<!--
        <li><a href="#do-i-need-to-create-an-account-to-download-andor-make-a-submission">Do I need to create an account to download and/or make a submission?</a></li>
		<li><a href="#cant-login">I see an error logging in</a></li>
		<li><a href="#why-should-i-submit-my-data-into-your-repository">Why should I submit my data into your repository?</a></li>
		<li><a href="#why-should-i-submit-my-tools">Why should I submit my tools?</a></li>
		
		<li><a href="#what-is-deposit-procedure">What is the actual depositing/archiving procedure?</a></li>
		<li><a href="#how-to-update">What if I want/need to update the archived data?</a></li>
        <li><a href="#how-to-delete">What if I want to withdraw the resources in the future? Can I delete the data?</a></li>
    
		<li><a href="#how-to-lrt-submissions">We have started our own repository, can we somehow move records submitted to the LRT collection?</a></li>
        <li><a href="#how-safe-is-my-data-if-i-store-it-with-you">How safe is my data if I store it with you?</a></li>
        <li><a href="#what-license-should-i-pick-for-my-datatool">What license should I pick for my data/tool?</a></li>
        <li><a href="#list-of-licenses">Where can I find more information about supported licenses?</a></li>
        <li><a href="#real-authors">Why we strongly prefer real authors to institutions?</a></li>
        <li><a href="#new-version">How do I create a new version of a record?</a></li>
        <li><a href="#new-version">How do I update the submitted data?</a></li>
        -->
		
		
		
	</ul>
    <hr />

	<div>
	<h3 id="what-is-the-repository">What is this repository?</h3>
	<p>It is a library for linguistic data and tools. It presently contains Turkish resources developed by the <a href="https://www.cmpe.boun.edu.tr/">Computer Engineering </a> and <a href="https://linguistics.boun.edu.tr/">Linguistics </a>  departments at Boğaziçi University. You can: </p>
	<ul>
		<li>Search for data and tools and easily download them.</li>
		<li>Tools are dockerized, so you can easily access, build, and use them.</li>
		<li>Authorized users (currently only affiliated with Boğaziçi University) can deposit new resources</li>
	</ul>
	</div>
	
	<!-- <div>
	<h3 id="what-submissions-do-you-accept">What submissions do we
		accept?</h3>
	<p>We accept any linguistic and/or NLP data and tools: corpora,
		treebanks, lexica, but also trained language models, parsers, taggers,
		MT systems, linguistic web services, etc. We do not strictly require
		you to upload the data itself, although it is always better to do it.
		Still, you can make a metadata-only record, if required. We also
		support online license-signing for immediate availability of
		restricted resources.</p>
	<p>
		When uploading language resources, please try to use one of the recommended formats
		mentioned in <a href='http://www.clarin.eu/sites/default/files/Standards%20for%20LRT-v6.pdf'>LRT Standards</a>.
	</p>
	</div> -->
	<!--
	<div>
	<h3
		id="do-i-need-to-create-an-account-to-download-andor-make-a-submission">Do
		I need to create an account to download and/or make a submission?</h3>
	<ul>
		<li>You can download <strong>data and tools with a
				license that allows free sharing</strong> without any obstacles. Just read
			the license and download. This applies to all data with <a
			href="http://creativecommons.org/licenses/" target="_blank">Creative Commons</a> and
			tools with <a href="http://opensource.org/licenses" target="_blank">open source</a>
			licenses.
		</li>
		<li>To download data and tools that require you to sign a
			license, you need to log in. To make a submission, you also need to
			log in. However, if you are from the academic world, you probably don't
			need any new account.</li>
		<li><strong>Just click &quot;Login&quot; and search for
				your academic institution.</strong> To sign in, you can use any account with
			an Identity Provider that is a member of EduGAIN federation.</li>
		<li>If you don't have an academic account that works with us, let
			us know. We will make you a local account.</li>
	</ul>
	</div>
    
	<div>
	<h3	id="cant-login">I see an error logging in</h3>
    <p>Please let us know through our <a class="helpdesk-tolink" href="#">Help Desk</a>, if you have any trouble logging in.</p>
    <p>Ocassionally (usually when you are the first one logging in using your home institution) you might see an error stating &quot;<strong>The authentication was successful; however, your identity provider did provide neither your email, eppn nor targeted id.</strong>&quot; This means your home institution did not send us enough data about you to operate our service; the institution is doing so to protect your personal data. We only require an email and we are following <a href="http://www.geant.net/uri/dataprotection-code-of-conduct">Data Protection Code of Conduct</a>, which helps us convince the institution we won't abuse data about you.</p>
    <p>If you have an account with multiple providers and you login with different one each time, you might see error stating &quot;<strong>Your email is already associated with a different user.</strong>&quot;. Please try to use the same provider each time, if that is not possible, let us know and we'll change the default one.</p>
	</div>
	
	<div>
	<h3 id="why-should-i-submit-my-data-into-your-repository">Why
		should I submit my data into your repository?</h3>
	<ul>
		<li>It is free and safe.</li>
		<li>We respect your license. We encourage Free Data and believe
			it benefits not only users, but also the data providers. However we
			accept also more closed data and we can make users sign a license
			before downloading your data, if that is what you need.</li>
		<li>The data is visible, giving you maximal credit for your work
			(google, VLO, DataCite, OLAC, Data Citation Index, arXive).</li>
		<li>The data is easy to cite. We provide <em>ready-to-use</em>
			one-click citations in BibTex, RIS, and other popular reference
			formats. All the citations include permanent links created from persistent identifiers (we use handles for PIDs). 
            These PIDs are future-proof.
		</li>
		<li>For some data, like text corpora or treebanks, we can provide
			additional services, like full-text or even tree-query search.</li>
	</ul>
	</div>
	
	<div>
	<h3 id="why-should-i-submit-my-tools">Why should I submit my
		tools?</h3>
	<ul>
		<li>See &quot;Why should I submit my data into your
			repository?&quot;. Everything applies to software tools too.</li>
		<li>You can just link your version control system (svn, git),
			if it is publicly accessible. You can also link your project
			page, or demo site.</li>
	</ul>
	</div>
	-->
	<div>
	<h3 id="what-is-the-handle-good-for">What is the PID (handle) good for?</h3>
	<p>It is a special permanent URL. It provides a permanent link that resolves correctly even if the data is moved elsewhere in the future. Thus, using the URL in citations prevents broken links..</p>
	</div>
	
    <!--
	<div>
	<h3 id="what-is-deposit-procedure">What is the actual depositing/archiving procedure?</h3>
	<p>During the submission of digital language resources to the repository, the data undergo a curation 
    process in order to ensure quality and consistency. We assist you in meeting necessary requirements 
    for sustainable resource archiving. Data have to be provided with metadata in standard formats 
    accepted/adopted in the respective communities, persistent identifiers (PIDs) have to be assigned, IPR 
    issues have to be resolved and clear statements with regard to licensing and possible use of the 
    resources are to be made.

    The depositor is also required to electronically sign a deposition agreement acknowledging the 
    (s)he is the holder of rights to the data and that (s)he has the right to grant the 
    rights contained in this licence.

    Once the data is indeed deposited in the repository it is assigned a PID for stable reference. </p>
	</div>

    <div>
	<h3 id="how-to-update">What if I want/need to update the archived data?</h3>
	<p>Every change to the resources and metadata should be stored as a new version with a new PID.
    However if the changes are minimal (e.g., typos or clear mistakes) then contact our <a class="helpdesk-tolink" href="#">Help Desk</a> with
    the submission PID and the changes which should be made. It is up to the reviewer to decide whether these changes
    should result in a new version or not.</p>
    </div>

    <div>
	<h3 id="how-to-delete">What if I want to withdraw the resources in the future? Can I delete the data?</h3>
    <p>Yes, in this case contact our <a class="helpdesk-tolink" href="#">Help Desk</a> with the submission PID and the reason. 
    However, we need to keep a reference that the data was in our repository (because a persistent identifier was issued), so the
		administrative metadata will be retained indicating that the data itself were removed.</p>
    </div>

	<div>
	<h3 id="how-to-lrt-submissions">We have started our own repository, can we somehow move records submitted to the LRT collection?</h3>
    <p>We can create a tombstone page for the moved record and we can add a notice to that page saying the resource is now at a new location.
		The submission is effectively hidden from search, browse and harvesting (oai-pmh), but the PID still resolves.
		Thus instead of the actual data, we show a link to the item in your repository.
		Please contact the <a class="helpdesk-tolink" href="#">Help Desk</a> for more details.</p>
    </div>

    <div>
	<h3 id="how-to-embargo">I don't want / cannot make the data publicly available or make 
    them available after a specific date. Would you still archive them for me?</h3>
    <p>In accordance with the advocacy of the research infrastructures and the general development 
    with respect to Open Access, we strongly encourage the data producers to be as open as possible.
    
    However, in other circumstances we will archive your data even if they will not be publicly available. Please, contact 
    our <a class="helpdesk-tolink" href="#">Help Desk</a> prior to completing the submission.</p>
    </div>

    -->

    <div>
	<h3 id="how-to-cite">How to cite a resource?</h3>
	<p>See our <a href="./about">policies</a>.</p>
    </div>
	
    <!--
	<div>
	<h3 id="how-safe-is-my-data-if-i-store-it-with-you">How safe is my
		data, if I store it with you?</h3>
	<p>Quite safe, probably much more than in your computer. Our
		storage plan:</p>
	<ul>
		<li>All the data in the repository have an on-site backup copy.</li>
		<li>There is another off-site copy, so even complete destruction
			of our building does not destroy your data.</li>
		<li>We check all the copies regularly and should any of them
			become corrupted we delete it and make a new one.</li>
		<li>We keep at least three copies, one of them off-site, at all
			times</li>
	</ul>
	</div>
	
	<div>
	<h3 id="what-license-should-i-pick-for-my-datatool">What license
		should I pick for my data/tool?</h3>
	<p>
		We encourage using a free license. A representative selection of free
		licenses as well as CC licenses (more appropriate for data) is
		available directly during submission. There is a great <a href="./deposit#license_selector">OPEN License Selector</a> which can guide you through the selection of appropriate license.<BR/>
		If for some reason you need a different license, <a class="helpdesk-tolink" href="#">Contact Us</a>.
	</p>
	</div>
    
	<div>
		<h3 id="list-of-licenses">Where can I find more information about supported licenses?</h3>
		<p>
			The list of licenses currently supported is <a href="licenses" id="available-licenses">here.</a>
			However, do not hesitate to <a class="helpdesk-tolink" href="#">Contact Us</a>
			in case you need your specific license. The licenses can be accompanied by various requirements; eg. limiting to logged in users, filling additional details (purpose) etc.
		</p>
	</div>

	<div>
		<h3 id="real-authors">Why do we strongly prefer real authors to institutions?</h3>
		<p>
			It is not about contact, it is about citations, credit and trust. That is why we have separate metadata
			fields for authors and for contact person. Contact to a helpdesk is perfect, not acknowledging the
			authors of a scholarly work is not. We support the direct citation of data
			(<a href="https://www.force11.org/datacitation">https://www.force11.org/datacitation</a>).
			That is why we also give them PIDs, create formatted citations, etc. That is the reason we really want proper
			authors, so that they get citations and other scientists know whose work they rely on.
		</p>
	</div>
    -->
	<div>
		<h3 id="searching">How to get the most out of searches?</h3>
		<p>
			In contrast to many search engines, OR is the default operator. Thus, results include resources that include any of the keywords. For more specific searches, the advanced search feature supports searching within specific fields, using negation, emphasizing parts of the query etc. The search engine is is <a href="https://solr.apache.org/">SOLR</a> so use it's syntax if you know it or check it in <a href="https://cwiki.apache.org/confluence/display/solr/The+Standard+Query+Parser">the documentation</a>.
		</p>
		<h4>Examples</h4>
		<p>
		<dl>
			<style scoped="scoped">
				dt{
					padding-top:5px;
					padding-bottom:5px;
				}
			</style>
			<dt><a href="https://tulap.cmpe.boun.edu.tr/repository/xmlui/discover?query=Named+Entity">Named Entity </a> vs <a href="https://tulap.cmpe.boun.edu.tr/repository/xmlui/discover?query=Named+AND+Entity">Named AND Entity</a></dt>
			<dd>The default operator is OR. The first example searches for the terms “Named” and “Entity” in all text fields. It will return all resources that contain either or both of these terms. The second example will search for resources that include both terms in any of the fields.</dd>
			<dt><a href="https://tulap.cmpe.boun.edu.tr/repository/xmlui/discover?query=dc.title%3AAnno*+%26%26+-dc.title%3AWeb">dc.title:Anno* &amp;&amp; -dc.title:Web</a></dt>
			<dd>Returns all items having P?T in title - ? stands for any character (eg. PDT) - and not having WordNet in the title</dd>
			<dt><a href="https://tulap.cmpe.boun.edu.tr/repository/xmlui/discover?query=dc.title%3A%22Named+Entity%22">dc.title:"Named Entity"</a></dt>
			<dd>Use double quotes (&quot;) for exact matches and multiword expressions</dd>
			<dt><a href="https://tulap.cmpe.boun.edu.tr/repository/xmlui/discover?query=author%3A(G%C3%BCng%C3%B6r+%26%26+-%C3%96zg%C3%BCr)">author:(Güngör &amp;&amp; -Özgür) </a></dt>
			<dd>Search for items by one author and not the other.</dd>
		</dl>
		</p>
		<p>There are many fıelds that are supported. <a href="https://tulap.cmpe.boun.edu.tr/repository/xmlui/handle/20.500.12913/24?show=full">Here</a> is a full record that shows all the supported fields</p>
	</div>

    <!--
	<div>
		<h3 id="new-version">New versions/updating submitted data</h3>
		<p>As you may have read elsewhere in the repository help, we do not allow changes in the data after a
			submission was published. You need to create a new one by <a href="https://github.com/ufal/clarin-dspace/wiki/New-Version-Guide">creating a new version</a>.
		</p>
	</div>
    -->
</div>

