<!-- FOOTER -->
<div class="lindat-common lindat-footer" data-version="2.1.6" data-build="d739d5b6c774ff932f2ed24524462e75f4fb552a">
  <div class="lindat-footer-main">
    <div class="lindat-footer-content lindat-container">
      <div class="lindat-footer-left">
        <a class="boun-logo" href="http://www.boun.edu.tr" title="Bogazici University"> </a>
      </div>
      <div class="lindat-footer-text">
        <div class="lindat-footer-text1">
          <h1>Bogazici University</h1>
  <ul><li><a href="http://www.boun.edu.tr">Boğaziçi Üniversitesi</a></li>
    <li><a href="http://www.cmpe.boun.edu.tr">Bilgisayar Mühendisliği ana sayfası</a></li>
    <li><a href="http://tabilab.cmpe.boun.edu.tr">TABILAB ana sayfası</a></li>
    </ul>
        </div>
        <div class="lindat-footer-text2">
          <h1>Arşiv</h1>
  <ul><li><a href="https://lindat.mff.cuni.cz/repository/xmlui/?locale-attribute=cs">Ana sayfa</a></li>
    <li><a href="https://lindat.mff.cuni.cz/en/about-lindat-clarin">İletişim</a></li>
    <li><a href="https://lindat.mff.cuni.cz/repository/xmlui/page/faq?locale-attribute=cs">SSS</a></li>
    <li><a href="https://lindat.mff.cuni.cz/repository/xmlui/page/about?locale-attribute=cs">Hakkında</a></li>
    </ul>
        </div>
        <div class="lindat-footer-text3">
          <h1>İletişim</h1>
  <ul><li>Bilgisayar Mühendisliği Bölümü, Boğaziçi Üniversitesi</li>
    <li>34342 Bebek, İstanbul, Türkiye</li>
    <li>Telefon: +90 212 359 45 23/24</li>
    <li><a href="mailto:tulap@boun.edu.tr">Email: tulap@boun.edu.tr</a></li>
    </ul>
        </div>
      </div>
      <!--<div class="lindat-footer-right">
      </div>-->
    </div>
  </div>
  <div class="lindat-copyright">
    <p>
      <strong><span>Copyright (c) 2022 TABILAB, Boğaziçi Üniversitesi, Tüm Hakları Saklıdır.</span><br />Based on <a href="https://github.com/ufal/clarin-dspace/">CLARIN DSpace</a>.
      </strong>
    </p>
    <p></p>
  </div>

</div>
<!-- FOOTER END -->
