<nav class="lindat-header lindat-common" role="navigation" data-version="2.1.6"
  data-build="d739d5b6c774ff932f2ed24524462e75f4fb552a">
  <button type="button" class="lindat-menu-btn"
    onclick="document.querySelector('.lindat-menu').classList.toggle('lindat-open')">
    <span class="lindat-menu-icon">
      <span class="lindat-icon-bar"> </span>
      <span class="lindat-icon-bar"> </span>
      <span class="lindat-icon-bar"> </span>
    </span>
  </button>
  <ul class="lindat-menu wrapper">
    <div style="  grid-column: 1 / 3;padding-left: 10px;">
      <li class="tabilab-menu-name-item">
        <a class="boun-logo nav-logo" href="http://www.cmpe.boun.edu.tr" title="Bogazici University"> </a>
      </li>
      <li class="tabilab-menu-name-item">
        <a class="tabilab-logo nav-logo" href="http://tabilab.cmpe.boun.edu.tr" title="Bogazici University"> </a>
      </li>
      <li class="tabilab-home-item">
        <a href="/"><span>TULAP - Turkish Language Processing Platform</span></a>
      </li>
    </div>
    <div style="  grid-column: 2 / 3;    ">
    <!-- <li class="tabilab-menu-name-item">
      <a href="http://tabilab.cmpe.boun.edu.tr"><span>TABILAB</span></a>
    </li> -->
    <li class="tabilab-home-item">
      <a href="/"><span>Home</span></a>
    </li>
    <!-- <li class="lindat-repository-item">
      <a href="/repository/xmlui/?locale-attribute=cs"><span>Repository</span></a>
    </li> -->
    <li class="lindat-demo-item">
      <a href="/demo"><span>Tools</span></a>
    </li>
    <li class="lindat-demo-item">
      <a href="/datasets"><span>Datasets</span></a>
    </li>
    <li class="lindat-about-item">
      <a href="/demo/about"><span>About</span></a>
      <!-- <a href="/repository/xmlui/page/about?locale-attribute=en"><span>About</span></a> -->
    </li>
  </div>
  <div style="  grid-column: 3 / 3;    ">

  </div>
<div>

</div>
  </ul>
</nav>