<nav class="lindat-header lindat-common" role="navigation" data-version="2.1.6" data-build="d739d5b6c774ff932f2ed24524462e75f4fb552a">
  <button type="button" class="lindat-menu-btn"
          onclick="document.querySelector('.lindat-menu').classList.toggle('lindat-open')">
    <span class="lindat-menu-icon">
      <span class="lindat-icon-bar"> </span>
      <span class="lindat-icon-bar"> </span>
      <span class="lindat-icon-bar"> </span>
    </span>
  </button>
  <ul class="lindat-menu">
    <li class="tabilab-menu-name-item">
      <a href="http://tabilab.cmpe.boun.edu.tr"><span>TABILAB</span></a>
    </li>
    <li class="tabilab-home-item">
      <a href="http://tabilab.cmpe.boun.edu.tr"><span>Home</span></a>
    </li>
    <li class="lindat-repository-item">
      <a href="/repository/xmlui/?locale-attribute=cs"><span>Repository</span></a>
    </li>
    <li class="lindat-demo-item">
      <a href="https://tulap.cmpe.boun.edu.tr/demo/"><span>Demo</span></a>
    </li>
    <li class="lindat-about-item">
      <a href="/demo/about"><span>About</span></a>
    </li>
  </ul>
</nav>
